
header {
    background: #6a0032;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 10px;
}

.div-main{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.div-table {
    border-color: #6a0032;
    position: center;
    width: 100%;
}

.div-padding{
    margin-left: 40px;
    margin-right: 40px;
}

.button {
    float: right;
    background-color: #ff6a00;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.post {
    padding: 0 10px;
    margin-bottom: 5px;
    background-position: 100% 0;

}

.postbody{
    line-height: 50px;
    width: 80%;
    float: left;
    clear: both;
}

.author{
    margin: 0;
    height: 1.2em;
    padding: 0 0 5px 0;
    font-family: Verdana, Arial, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2em
}

.backgroundcolor-1 {
    background-color: #7c6d80;
    margin: 10px 30px 10px 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: blue;
}

.backgroundcolor-2 {
    background-color: #e9e6df;
}